aiohttp==3.8.1
APScheduler==4.0.0a2
Jinja2==3.0.3
pycryptodome==3.14.1
requests==2.26.0
sanic==21.12.1
uvloop==0.16.0
websockets==10.4
sanic_jwt==1.8.0
sanic_openapi==21.12.0
tortoise-orm==0.19.3
aerich==0.7.1
sanic_openapi
qrcode
tzlocal
httpx
opencv-python-headless
fake-useragent